@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/**************Hero section***************/
header {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.hero {
  display: flex;
  width: 100%;
}
.hero .dark-hero {
  width: 45rem;
  background-color: #151515;
  padding-right: 45rem;
}
.hero .dark-hero h1 {
  font-family: "Big Shoulders Display";
  font-size: 9.6rem;
  line-height: 8.8rem;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  padding-left: 15.9rem;
  background: -webkit-linear-gradient(0deg, #ffffff 73.8%, #151515 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.04rem;
}
.hero .hero-img {
  background: url("/assets/desktop/image-hero@2x.jpg");
  width: 50%;
  min-height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  position: absolute;
  top: 20%;
  left: 65%;
  display: flex;
  flex-direction: column;
}
.hero-text h1 {
  display: none;
}
.hero-text p {
  font-family: "Outfit";
  font-size: 2.2rem;
  line-height: 3.2rem;
  width: 40rem;
  margin-bottom: 5rem;
}
.hero-text .location-btn {
  font-family: "Big Shoulders Display";
  font-size: 2rem;
  cursor: pointer;
  letter-spacing: 0.3rem;
  width: 24rem;
  height: 7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.hero-text .location-btn span:nth-of-type(1) {
  padding: 2.3rem 2rem;
  background-color: #151515;
  width: 80%;
  transition: all 0.2s ease-in;
}
.hero-text .location-btn span:nth-of-type(2) {
  width: 20%;
  background-color: #D5966C;
  padding: 2.1rem 2rem;
  transition: all 0.2s ease-in;
}
.hero-text .location-btn:hover span:nth-of-type(1) {
  background-color: #D5966C;
}
.hero-text .location-btn:hover span:nth-of-type(2) {
  background-color: #151515;
}

/*************Main section***************/
main.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}

div.top-gallery-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
div.top-gallery-container .article-1 {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
}
div.top-gallery-container .article-1 h2 {
  font-family: "Big Shoulders Display";
  font-size: 6rem;
  line-height: 5rem;
  text-transform: uppercase;
  line-height: 6rem;
}
div.top-gallery-container .article-1 p {
  font-family: "Outfit";
  font-size: 2.2rem;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
  margin-top: 2rem;
}
div.top-gallery-container .img-1 {
  width: 60%;
}

div.bottom-gallery-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0;
}
div.bottom-gallery-container .img-2 {
  width: 100%;
  height: 100%;
}
div.bottom-gallery-container .bottom-inner-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 5rem;
}
div.bottom-gallery-container .bottom-inner-container .img-3 {
  margin-bottom: 5rem;
}
div.bottom-gallery-container .bottom-inner-container .article-2 {
  background-color: #151515;
  color: #ffffff;
  padding: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
div.bottom-gallery-container .bottom-inner-container .article-2 h2 {
  font-family: "Big Shoulders Display";
  font-size: 6rem;
  line-height: 5rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  line-height: 6rem;
}
div.bottom-gallery-container .bottom-inner-container .article-2 p {
  font-family: "Outfit";
  font-size: 2.2rem;
  line-height: 3.2rem;
}

/******************Footer section******************/
footer {
  background: #151515;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  min-height: 20vh;
  padding: 9rem 4rem;
  width: 90%;
  margin: 0 auto;
}
footer .footer-container h3 {
  font-family: "Big Shoulders Display";
  font-size: 3.6rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  text-align: left;
}
footer .footer-container p {
  font-family: "Outfit";
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: left;
  width: 40%;
}
footer .footer-container .socials :not(:last-child) {
  margin-right: 2rem;
}
footer .footer-container .socials img {
  height: 2.5rem;
  cursor: pointer;
}

/*****************Location page*****************/
.map {
  position: relative;
}
.map iframe {
  min-height: 70vh;
}
.map .location-btn {
  font-family: "Big Shoulders Display";
  font-size: 2rem;
  cursor: pointer;
  letter-spacing: 0.3rem;
  width: 24rem;
  height: 7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: absolute;
  top: -1%;
  left: 14rem;
}
.map .location-btn span:nth-of-type(1) {
  padding: 1.9rem 2rem;
  background-color: #D5966C;
  width: 20%;
  transition: all 0.2s ease-in;
}
.map .location-btn span:nth-of-type(2) {
  width: 80%;
  background-color: #151515;
  padding: 2.1rem 2rem;
  transition: all 0.2s ease-in;
}
.map .location-btn:hover span:nth-of-type(1) {
  background-color: #151515;
}
.map .location-btn:hover span:nth-of-type(2) {
  background-color: #D5966C;
}

.location {
  background-color: #151515;
  color: #ffffff;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  padding: 10rem 14rem;
}
.location h1 {
  font-family: "Big Shoulders Display";
  font-size: 7rem;
  line-height: 7rem;
  text-transform: uppercase;
}
.location .h2 {
  font-family: "Big Shoulders Display";
  font-size: 6rem;
  line-height: 5rem;
  text-transform: uppercase;
  display: none;
}
.location .address {
  width: 50%;
}
.location .address h2 {
  font-family: "Big Shoulders Display";
  font-size: 3.6rem;
  line-height: 3.6rem;
  color: #D5966C;
  text-transform: uppercase;
}
.location .address p {
  font-family: "Outfit";
  font-size: 2.2rem;
  line-height: 3.2rem;
}
.location .address p:not(:last-child) {
  padding: 2rem 0;
}

/***************Responsive layout**************/
@media screen and (max-width: 1050px) {
  .hero .hero-img {
    background: url("/assets/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 960px) {
  .hero .dark-hero {
    display: none;
  }
  .hero .hero-img {
    background: url("/assets/tablet/image-hero@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 55%;
  }
  .hero-text {
    left: 50%;
  }
  .hero-text p {
    font-family: "Outfit";
    font-size: 1.8rem;
    line-height: 2.8rem;
    width: 35rem;
    margin-bottom: 5rem;
  }
  .hero-text h1 {
    display: block;
    font-family: "Big Shoulders Display";
    font-size: 7rem;
    line-height: 7rem;
    text-transform: uppercase;
    padding-bottom: 5rem;
  }
  div.top-gallery-container .article-1 h2 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 0;
  }
  div.bottom-gallery-container .bottom-inner-container .article-2 {
    padding: 4rem;
  }
  div.bottom-gallery-container .bottom-inner-container .article-2 h2 {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  .location {
    padding: 8rem;
  }
  .map .location-btn {
    left: 8rem;
  }
}
@media screen and (max-width: 960px) and (max-width: 790px) {
  .hero-text h1 {
    font-family: "Big Shoulders Display";
    font-size: 6rem;
    line-height: 5rem;
    padding-bottom: 3rem;
  }
  .hero-text p {
    width: 30rem;
  }
  div.top-gallery-container {
    flex-direction: column-reverse;
  }
  div.top-gallery-container .img-1 {
    width: 100%;
    margin-bottom: 4rem;
  }
  div.bottom-gallery-container {
    flex-direction: column;
  }
  div.bottom-gallery-container .bottom-inner-container {
    width: 100%;
    padding: 0;
  }
  div.bottom-gallery-container .bottom-inner-container .img-3 {
    margin-top: 5rem;
  }
  footer .footer-container {
    display: block;
  }
  footer .footer-container p {
    width: 100%;
  }
  footer .footer-container :not(:first-child) {
    margin-top: 2rem;
  }
  .location {
    flex-direction: column;
  }
  .location h1 {
    display: none;
  }
  .location .h2 {
    display: block;
    padding-bottom: 2.5rem;
  }
  .location .address {
    width: 100%;
  }
  .location .address p:not(:last-child) {
    padding: 1.5rem 0;
  }
}
@media screen and (max-width: 960px) and (max-width: 650px) {
  .hero-text h1 {
    font-family: "Big Shoulders Display";
    font-size: 3.6rem;
    line-height: 3.6rem;
    padding-bottom: 2rem;
  }
  .hero-text p {
    width: 30rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 550px) {
  .hero .hero-img {
    background: url("/assets/mobile/image-hero@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 45vh;
  }
  .hero-text {
    left: 5%;
    top: 50%;
  }
  .hero-text h1 {
    font-family: "Big Shoulders Display";
    font-size: 6rem;
    line-height: 5rem;
    padding-bottom: 2rem;
  }
  .hero-text p {
    width: 30rem;
    margin-bottom: 3rem;
  }
  main.container {
    padding: 0;
  }
  .map iframe {
    min-height: 50vh;
  }
  .location {
    padding: 5rem;
  }
  .location .h2 {
    font-size: 5rem;
  }
  .map .location-btn {
    left: 0;
  }
}