/***************Responsive layout**************/
//Desktop
@media screen and (max-width: 1050px){
    .hero{
        .hero-img{
            background: url('/assets/desktop/image-hero.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}

// Tablet
@media screen and (max-width: 960px){
    .hero{
        .dark-hero{
            display: none;
        }

        .hero-img{
            background: url('/assets/tablet/image-hero@2x.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 55%;
        }

        &-text{
            left: 50%;

            p{
                @include body-sm();
                width: 35rem;
                margin-bottom: 5rem;
            }

            h1{
                display: block;
                @include head-lg();
                text-transform: uppercase;
                padding-bottom: 5rem;
            }
        }
    }

    div.top-gallery-container{
        .article-1 h2{
            font-size: 4rem;
            line-height: 4rem;
            margin-bottom: 0;
        }
    }

    div.bottom-gallery-container{
        .bottom-inner-container{
            .article-2{
                padding: 4rem;

                h2{
                    font-size: 4.5rem;
                    line-height: 5rem;
                }
            }
        }
    }

    .location{
        padding: 8rem;
    }
    .map .location-btn{
        left: 8rem;
    }

    @media screen and (max-width: 790px){
        .hero-text{
            h1{
                @include head-md();
                padding-bottom: 3rem;
            }
            p{
                width: 30rem;
            }
        }

        div.top-gallery-container{
            flex-direction: column-reverse;

            .img-1{
                width: 100%;
                margin-bottom: 4rem;
            }
        }
        div.bottom-gallery-container{
            flex-direction: column;

            .bottom-inner-container{
                width: 100%;
                padding: 0;

                .img-3{
                    margin-top: 5rem;
                }
            }
        }
        
        footer{
            .footer-container{
                display: block;

                p{
                    width: 100%;
                }
            }
            .footer-container :not(:first-child){
                margin-top: 2rem;
            }
        }

        .location{
            flex-direction: column;

            h1{
                display: none;
            }

            .h2{
                display: block;
                padding-bottom: 2.5rem;
            }

            .address{
                width: 100%;

                p:not(:last-child){
                    padding: 1.5rem 0;
                }
            }
        }
        
    }

    @media screen and (max-width: 650px){
        .hero-text{
            h1{
                @include head-sm();
                padding-bottom: 2rem;
            }
            p{
                width: 30rem;
                margin-bottom: 3rem;
            }
        }
    }
}

// Mobile
@media screen and (max-width: 550px){
    .hero{
        .hero-img{
            background: url('/assets/mobile/image-hero@2x.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            min-height: 45vh;
        }

        &-text{
            left: 5%;
            top: 50%;

            h1{
                @include head-md();
                padding-bottom: 2rem;
            }
            p{
                width: 30rem;
                margin-bottom: 3rem;
            }
        }
    }

    main.container{
        padding: 0;
    }

    .map iframe{
        min-height: 50vh;
    }

    .location{
        padding: 5rem;
        .h2{
            font-size: 5rem;
        }
    }
    .map .location-btn{
        left: 0;
    }
}